.web-container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-family: Roboto, sans-serif;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    text-align: center;
    color: black;
    margin: 38px 0;
}

.logo-color {
    color: blue;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
}

.nav {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.nav-item {
    display: flex;
    list-style-type: none;
    margin: 0;
    border-left: 1px solid white;
}

.nav-item-last {
    border-right: none;
}

.nav-item-link {
    display: flex;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.nav-item-link:hover {
    background: #222F3A;
}

.main-block {
    display: flex;
}

.sidebar {
    text-align: left;
    margin: 50px 0;
    min-width: 350px;
}

.sidebar-nav {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #000000;
}

.sidebar-nav-item {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    border: none;
}

.sidebar-nav-item-link {
    display: flex;
    color: #495863;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s linear all;
}

.sidebar-nav-item-link:hover {
    background: #DBDBDB;
    color: #35444F;
    transition: 0.3s linear all;
    padding-left: 40px;
}

.big-block {
    border: 1px solid #000000;
    margin: 50px 0 50px 50px;
}

.logo-letter {
    margin: 0 auto;
    display: block;
    padding: 70px;
    transition: 1s;
}

.logo-letter:hover {
    transform: scale(1.1);
}

.articles__text {
    font-family: Roboto, sans-serif;
    color: #2C2C2C;
    padding-left: 50px;
}

.text-first {
    padding-bottom: 35px;
}

.menu-bottom {
    margin-top: 35px;
    display: flex;
    background: rgba(99, 105, 110, 0.48);
}

.menu-bottom-nav {
    width: 80%;
    display: flex;
    padding-left: 40px;
    padding-bottom: 5px;
}

.nav-bot-link {
    display: flex;
    color: black;
    padding: 20px 20px 15px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.nav-bot-link:hover {
    border-bottom: 2px solid #3181A6;
    color: #3181A6;
}

.text-copy {
    display: flex;
    align-items: center;
    width: 20%;
}


